@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&display=swap');
body{
  top: 0;
  left: 0;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
*:not(i){
font-family: 'Josefin Sans', sans-serif;
}
.container{
  max-width: 100%;
  margin: 0 auto;
  padding: 30px;
  box-sizing: border-box;
  overflow: hidden;
}
/*header*/
header{
  height: 7vh;
  width: 100%;
  background-color: #526534;
  padding-bottom: 20px;
}
#address{
  width: 40%;
  color: #fff;
  font-size: 19px;
}
#email{
  width: 25%;
  color: #fff;
  font-size: 19px;
}
#number{
  width: 25%;
  color: #fff;
font-size: 12px;
}
@media screen and (min-width: 200px) and (max-width: 599px){
  header{
    height: 8vh;
    width: 100%;
    background-color: #526534;
    padding-bottom: 10px;
  }
  #address{
    width: 30%;
    color: #fff;
    font-size: 12px;
  }
  #email{
    width: 30%;
    color: #fff;
    font-size: 10px;
    top: 2%;
  }
  #number{
    width: 25%;
    color: #fff;
  font-size: 10px;
  }
}
@media screen and (min-width: 600px) and (max-width: 1200px){
  header{
    height: 8vh;
    width: 100%;
    background-color: #526534;
    padding-bottom: 10px;
  }
  #address{
    width: 30%;
    color: #fff;
    font-size: 12px;
  }
  #email{
    width: 30%;
    color: #fff;
    font-size: 12px;
    top: 2%;
  }
  #number{
    width: 25%;
    color: #fff;
  font-size: 12px;
  }
}
/*nav section*/
.nav-bar {
padding: 0 20px;
}
#check{
display: none;
}

.open-menu {
  display: none;
  color: #fff;
  font-size: 3.5rem;
  cursor: pointer;
  position: absolute;
  top: 30%;
  right: 10px;
  transform: translateY(-50%);
}
.close-menu{
  display: none;
  color: #fff;
  font-size: 3.1rem;
  cursor: pointer;
  position: absolute;
  top: 56%;
  right: 8px;
  transform: translateY(-50%);
}

nav i{
color: #fff;

}
nav{
position: absolute;
left: 0;
width: 90%;
z-index: 999;
}
.nav-bar img{
float: left;
max-width: 30%;
margin-top: 67px;
}
.nav {
position: absolute;
top: 55%;
right: 0;
transform: translateY(-50%);
}
.nav ul{
list-style: none;
display: flex;
margin-left: auto;
float: right;
padding: 0;
}
.nav ul li{
margin-bottom: 10px;
}
.nav ul li a{
display: block;
color: #fff;
text-align: center;
padding: 14px 20px;
text-decoration: none;
text-transform: uppercase;
font-size: 2.3vh;
}
.nav ul li a:hover{
text-decoration: underline #fff;
}
@media screen and (min-width: 768px) and (max-width: 1200px){
  .nav-bar img{
    float: left;
    max-width: 40%;
    margin-top: 2px;
  }
  .close-menu,
  .open-menu {
    display: block;
  }
  nav{
  top: calc(2vh + 11%);
  }
  .nav {
    display: none;
    position: absolute;
    top: calc(15vh + 100%);
    left: 0;
    width: 100%;
    padding-bottom: 40px;
    background-color: #526534;
  }

  .nav.active {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .close-menu {
    display: block;
    position: absolute;
    top: 9px;
    right: 5px;
    z-index: 1;
  }
  #check:checked ~ .nav {
      display: block;
    }

    #check:checked ~ .open-menu {
      display: none;
    }

    #check:checked ~ .close-menu {
      display: block;
    }
  .menu-list {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .menu-list li {
    margin: 10px 0;
  }
}
@media screen and (max-width: 910px){
.nav-bar img{
  float: left;
  max-width: 30%;
  margin-top: 41px;
}
.nav ul li a{
display: block;
color: #fff;
text-align: center;
padding: 12px 18px;
text-decoration: none;
text-transform: uppercase;
font-size: 2.2vh;
}
}
@media screen and (max-width: 767px){
.nav-bar img{
  float: left;
  max-width: 40%;
  margin-top: 2px;
}
.close-menu,
.open-menu {
  display: block;
}
nav{
top: calc(2vh + 11%);
}
.nav {
  display: none;
  position: absolute;
  top: calc(15vh + 100%);
  left: 0;
  width: 100%;
  padding-bottom: 40px;
  background-color: #526534;
}

.nav.active {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.close-menu {
  display: block;
  position: absolute;
  top: 9px;
  right: 5px;
  z-index: 1;
}
#check:checked ~ .nav {
    display: block;
  }

  #check:checked ~ .open-menu {
    display: none;
  }

  #check:checked ~ .close-menu {
    display: block;
  }
.menu-list {
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.menu-list li {
  margin: 10px 0;
}
}
.home-section{
  min-height: 60vh;
  background-image: url('img1/13.jpg');
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
  width: 100%;
}

.home-section h1{
  text-align: center;
  padding-top: 150px;
  color: #fff;
  font-size: 4rem;
  text-transform: uppercase;
}
/*storyline*/
.story-section{
  flex: 1;
  margin-bottom: 30px;
  height: 70vh;
  width: 100%;
  padding-top: 50px;
}
.story-section h1{
  text-align: left;
  font-size: 2.2rem;
  color: #526534;
  font-weight: lighter;
  text-transform: uppercase;
}
.storyline{
  padding-top: 30px;
  width: 50%;
  float: left;
  display: inline-block;
}
.storyline h2{
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 2.3rem;
}
.storyline p{
  font-size: 1.4rem;
}
.storyline-img{
display: inline-block;
width: 50%;
float: right;
}
.storyline-img img{
  padding-top: 40px;
  max-width: 60%;
  height: auto;
margin-left: 120px;
}
@media screen and (min-width: 600px) and (max-width: 1200px){

  .story-section{
    flex: 1;
    margin-bottom: 30px;
    height: 50vh;
    width: 100%;
    padding-top: 50px;
  }
  .story-section h1{
    text-align: left;
    font-size: 2.2rem;
    color: #526534;
    font-weight: lighter;
  }
  .storyline h2{
    text-align: center;
    font-weight: 400;
    text-transform: capitalize;
    font-size: 4rem;
  }
  .storyline p{
    font-size: 1.8rem;
  }
    .storyline{
      display: block;
      width: 100%;
    }
  .storyline-img img{
    padding-top: 40px;
    max-width: 40%;
    height: auto;
  margin-left: 10px;
  }
  .storyline-img{
    width: 100%;

  }
}
@media screen and (min-width: 200px) and (max-width: 599px){
  .story-section{
    flex: 1;
    margin-bottom: 30px;
    height: 70vh;
    width: 100%;
    padding-top: 20px;
  }
  .story-section h1{
    text-align: left;
    font-size: 2.2rem;
    color: #526534;
    font-weight: lighter;
  }
  .storyline{
    width: 100%;
  }
  .storyline h2{
    text-align: center;
    font-weight: 400;
    text-transform: capitalize;
    font-size: 2rem;
  }
  .storyline p{
    font-size: 0.89rem;
  }
  .storyline-img{
    width: 100%;
  }
  .storyline-img img{
    padding-top: 40px;
    max-width: 80%;
    height: auto;
  margin-left: 40px;
  }
}
/*staff section*/
.staff-section{
  flex: 1;
  margin-bottom: 30px;
  height: 70vh;
  width: 100%;
  padding-top: 50px;
}
.staff-section h2{
  text-align: center;
  padding-bottom: 20px;
  font-size: 2.3rem;
  font-weight: 400;
  text-transform: uppercase;
}
.staff-section img{
  align-items: center;
  max-width: 80%;
  padding-bottom: 50px;
  margin-left: 150px;
}
.staff-section p{
  font-size: 1.4rem;

}
@media screen and (min-width: 600px) and (max-width: 1200px){
  .staff-section img{
    align-items: center;
    max-width: 80%;
    padding-bottom: 50px;
    margin-left: 40px;
  }
  .storyline-img img{
    padding-top: 40px;
    max-width: 70%;
    height: auto;

  }
}
@media screen and (min-width: 200px) and (max-width: 599px){
  .staff-section img{
    align-items: center;
    max-width: 90%;
    padding-bottom: 50px;
    margin-left: 10px;
  }
}
/*gallery section*/
.gallery-section{
  flex: 1;
  margin-bottom: 30px;
  height: 70vh;
  width: 100%;
  padding-top: 50px;
}
.gallery-section .gallery {
  display: grid;
grid-template-columns: repeat(4, 1fr);
grid-gap: 1px;
}

.gallery-section .gallery-item img {
  max-width: 100%;
  height: 90%;
  flex: 1 1 auto;
  object-fit: fill;
  margin: 0;
  padding: 0;
}
/*footer*/
.footer {
  height: 70vh;
  background-color: #526534;
  flex: 1;
  width: 100%;
}
#logo2{
  width: 28%;
  height: 200px;
  float: left;
  color: #fff;
  padding-bottom: 40px;
}
#logo2 h1{
  margin-left: 10px;
  font-size: 4vh;
  text-transform: capitalize;
}
#logo2 h2{
  margin-left: 20px;
  font-size: 3vh;
}
#socials p{
  text-align: center;
  font-size: 3vh;
}
#add{
  width: 30%;
  height: 200px;
  float: right;
  color: #fff;
}
#add p{
  font-size: 1.5rem;
}
#socials{
  width: 30%;
  height: 200px;
}
#logo2 p{
  font-size: 1.8rem;
  color: #fff;
}
#logo2 a{
  color: #fff;
  text-decoration: none;
}
.socials p{
  margin-left: 50px;
  font-size: 25px;
  color: #fff;
  text-align: center;
}
.footer img{
  width: 100%;
  height: 130px;
  margin-left: 20px;
  top: 2;
  align-items: center;
}
@media screen and (max-width: 800px){
  .footer{
    height: 60vh;
    background-color: #526534;
    flex: 1;
    width: 100%;
  }
  #logo2{
    width: 30%;
    height: 200px;
    float: left;
    color: #fff;
  }
  #logo2 h1{
    padding-top: 20px;
    margin-left: -10px;
    font-size: 2vh;
    text-transform: uppercase;
    text-align: center;
  }

  #socials p{
    text-align: center;
    margin-left: 20px;
    font-size: 1.2rem;
    color: #fff;
    text-align: center;
  }
  #add{
    width: 30%;
    height: 200px;
    float: right;
    color: #fff;
  }
    #add p{
      font-size: 0.8rem;
    }
  #socials{
    width: 30%;
    height: 200px;
  }
  #logo2 p{
    font-size: 0.8rem;
    color: #fff;
  }
  #logo2 a{
    color: #fff;
    text-decoration: none;
  }
  .footer img{
    max-width: 100%;
    height: auto;
    margin-left: -20px;
    align-items: right;
  }
}
/*copyright-text*/
p.copyright-text{
  text-align: center;
  font-size: 14px;
  padding: 0 15px;
  color: #fff;
  text-transform: uppercase;
  padding:  20px 0;
  border-top: 1px solid #cccccc;
}
@media screen and (min-width: 769px) and (max-width: 1200px){
  .nav-bar img{
    float: left;
    max-width: 40%;
    margin-top: 2px;
  }
  .close-menu,
  .open-menu {
    display: block;
  }
  nav{
  top: calc(2vh + 11%);
  }
  .nav {
    display: none;
    position: absolute;
    top: calc(15vh + 100%);
    left: 0;
    width: 100%;
    padding-bottom: 40px;
    background-color: #526534;
  }

  .nav.active {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .close-menu {
    display: block;
    position: absolute;
    top: 9px;
    right: 5px;
    z-index: 1;
  }
  #check:checked ~ .nav {
      display: block;
    }

    #check:checked ~ .open-menu {
      display: none;
    }

    #check:checked ~ .close-menu {
      display: block;
    }
  .menu-list {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .menu-list li {
    margin: 10px 0;
  }
}
